n8n/workflow.json
{
  "name": "qualityoflife n8n (Tech digest)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -544
      ],
      "id": "a2ccdf01-45ae-4a75-9c34-e2b00d137058",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://simonwillison.net/atom/everything/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -512,
        -272
      ],
      "id": "70cfc5da-ff12-4279-a1cf-9cd5fb8da4a2",
      "name": "simonwillison.net"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -512,
        -432
      ],
      "id": "8f8aaa5b-a191-4a3d-ab82-520fd8d96353",
      "name": "dev.to"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -512,
        -608
      ],
      "id": "455821c7-5acf-473c-bb1d-a32cff9217fc",
      "name": "hnrss.org"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        -320
      ],
      "id": "a7275b54-9fa3-477a-8c19-c36912fcfa88",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.title }}\nSource: {{ $json.creator || $json[\"dc:creator\"] || $json.feedUrl }}\nSnippet: {{ $json.contentSnippet }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are curating a personalized weekly tech digest for a senior fullstack engineer interested in AI-native development, agentic systems, developer tooling, homelab infrastructure, software craftsmanship, and workflow automation platforms like n8n. Score each item 1-10 for personal relevance: - 10: must-read, directly actionable or novel, or highly relevant to AI-native dev or n8n - 8-9: strong relevance, worth a click - 6-7: tangentially relevant, skippable when busy - 4-5: low relevance - 1-3: noise Penalize: hype, listicles, generic X-tips-for-Y, repackaged news. Reward: technical depth, original analysis, production build logs. Return only valid JSON, no markdown fences, no prose."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -768,
        48
      ],
      "id": "82c1c81b-82a2-4890-82c9-180b99c63773",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "maxTokens": 200,
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -768,
        272
      ],
      "id": "92c4ade7-eede-426f-82ed-ed430ce12eac",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "o3QgqhgCeeq3hmJZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"score\": { \"type\": \"number\", \"minimum\": 1, \"maximum\": 10 },\n    \"reasoning\": { \"type\": \"string\" },\n    \"tags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n  },\n  \"required\": [\"score\", \"reasoning\", \"tags\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -624,
        272
      ],
      "id": "5cdd56ff-84b7-4f56-9b9f-0aff29d6a021",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4e70f9d-232c-4e2b-80d4-1473d997ed69",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -448,
        128
      ],
      "id": "63c10dac-596b-4116-9aa2-658015a30a33",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const llmItems = $input.all();\nconst sourceItems = $('Merge').all();\n\nreturn llmItems.map((item, i) => {\n  const source = sourceItems[i]?.json ?? {};\n  return {\n    json: {\n      ...source,           // title, link, contentSnippet, etc\n      ...item.json,        // score, reasoning, tags\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -96
      ],
      "id": "0a9cda25-4184-4afe-b7a0-e6bbd5294544",
      "name": "Merge with source"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.digest }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        224
      ],
      "id": "fda38ccf-d2d5-4320-a898-25a19db046ab",
      "name": "Send a text message",
      "webhookId": "8a392622-1cc7-4b60-803e-ba0fd050f40d",
      "credentials": {
        "telegramApi": {
          "id": "K0tk1qYoA4hnr81J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        -352
      ],
      "id": "5975d1e9-f8d1-4993-b96b-bd690077ffa6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { digest: 'No items above threshold this week.' } }];\n}\n\nconst top = items\n  .map(i => i.json)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 5);\n\nconst now = new Date().toISOString().split('T')[0];\nconst lines = [`*Tech digest — ${now}*`, ''];\n\nfor (const { title, link, output } of top) {\n  const { score, reasoning, tags} = output\n  const shortReasoning = (reasoning || '').split(/(?<=[.!?])\\s+/)[0];\n  const tagStr = (tags || []).slice(0, 3).map(t => `\\`${t}\\``).join(' ');\n\n  lines.push(`*${score}/10* — [${title}](${link})`);\n  lines.push(`_${shortReasoning}_`);\n  if (tagStr) lines.push(tagStr);\n  lines.push('');\n}\n\nreturn [{ json: { digest: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -32
      ],
      "id": "61199275-0bf9-4e30-8abe-d5343e18dd2f",
      "name": "Markdown convert and pick top 5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "dev.to",
            "type": "main",
            "index": 0
          },
          {
            "node": "simonwillison.net",
            "type": "main",
            "index": 0
          },
          {
            "node": "hnrss.org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hnrss.org": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dev.to": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "simonwillison.net": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge with source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Markdown convert and pick top 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with source": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "hnrss.org",
            "type": "main",
            "index": 0
          },
          {
            "node": "dev.to",
            "type": "main",
            "index": 0
          },
          {
            "node": "simonwillison.net",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown convert and pick top 5": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aedfb799-319e-44df-8882-63ebb5b24d19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63425becdb25e3fe67dabe1ae2db9b357e60b71a33fbdb4cd81f8839a882d05c"
  },
  "id": "DswCnSPaPoAei8Yp",
  "tags": []
}